<!DOCTYPE  html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ERE</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">New Query</a></li>
            <li><a href="/archive">Last 100</a></li>
        </ul>
    </nav>
</header>
{{{body}}}
</body>
</html>